.mensagem {
    margin: 0 0 100px;
    padding: 10px;
    height: 65%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 0.7em;
    background-color: rgba(255, 255, 255, 0.171);
    border-radius: 10px;
}

.fixo {
    position: fixed;
    bottom: -70px;
}

reader {
    display: flex;
    align-items: center;
    justify-content: center;
}
