.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    padding-top: 30px;
    width: 95%;
}

.mensagem {
    margin: 0 0 100px;
    padding: 10px;
    height: 65%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 0.7em;
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
}

.fixo {
    position: fixed;
    bottom: -70px;
}

reader {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    width: 100%;
}

.title{
    color: white
}
