
* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
  }
  
body {
    background-color: #000000;
}

#root {
  height: 100vh;
  display: flex;
  align-items: space-around;
  justify-content: center;
}
