.container-filho {
    background-color:rgba(255, 255, 255, 0.171);
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 10px 0 60px;
    padding: 25px 20px;
    line-height: 3em;
    border-radius: 10px;
    min-width: 262px;
    position: relative;
}

.container-filho h1 {
    margin: 0;
    padding: 0;
    
}

.fechar {
    position: absolute;
    top: 5px;
    right: 7px;
}