.containerMenu {
    position: fixed;
    width: 100%;
    text-align: center;
    height: 30px;
    background-color: mediumslateblue;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    font-weight: 300;
    border-bottom: dashed 1px black ;
    justify-content: flex-start;
    flex-direction: column;
    display: inline-block;
    background-color: transparent;
    cursor: pointer;
 
}
