.containerMenu {
    position: fixed;
    width: 100%;
    text-align: center;
    height: 30px;
    background-color: mediumslateblue;
    top: 0;
    display: flex;
    justify-content: space-around;
}
















}